<nav id="content-navbar"
    class="navbar nav-tabs navbar-expand-lg navbar-dark bg-dark border-bottom border-success text-uppercase">
    <div class=" container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-3">
                <li class="mx-1 nav-item" *ngFor="let navItem of navItems">
                    <a class="nav-link" aria-current="page"
                        routerLink="/{{navItem.toLocaleLowerCase()}}"
                        routerLinkActive="active">
                        {{navItem}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>