<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
    style="margin-left: 180px; background-color: #1c1c18; height:60px;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <div class="d-flex ms-auto me-3">
                @if(!isLoggedIn$){
                <button class="nav-link text-warning mx-2" routerLink="/login">
                    <i class="bi bi-person-circle mx-2"></i>Login
                </button>

                <button class="nav-link text-warning mx-2"
                    routerLink="/register">
                    <i class="bi bi-grid-fill mx-2"></i> Register
                </button>
                }
                @else{
                <button class="nav-link text-danger mx-2"
                    (click)="logoutPressed()">
                    <i class="bi bi-person-circle mx-2 h4"></i><span
                        class="align-text-bottom">Sign Out</span>
                </button>
                }
            </div>
        </div>
    </div>

</nav>