<div class="container-fluid my-4" style="padding-right: 10%;">
    <button class="nav-link m-4">
        <i class="bi bi-plus-circle text-white h3"> </i>
        <span class="mx-3 text-white align-text-bottom">Add New</span>
    </button>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 mx-2">
        <div class="col" *ngFor="let pavilion of pavilions">
            <div class="card custom-bg-dark h-100">
                <div class="card-header border-success shadow">
                    <div class="form-check">
                        <input
                            class="form-check-input border-white bg-secondary"
                            type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>
                </div>

                <img src="{{ pavilion.imageUrl }}"
                    class="card-img-top mt-2 shadow" alt="{{ pavilion.name }}">

                <div class="card-body">

                    <h5 class="card-title">{{ pavilion.name }}</h5>
                    <p class="card-text">{{ pavilion.description }}</p>

                    <p class="card-text">
                        <small class="text-white">
                            Powered by: {{ pavilion.poweredBy }}
                        </small>
                    </p>

                    <p class="card-text">
                        <small class="text-white">
                            In collaboration with: {{ pavilion.collaboration}}
                        </small>
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>