<div class="container-fluid mt-5 vh-100">
    <div
        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4 mx-2 text-center">
        <div class="col" *ngFor="let user of userList">
            <div class="card h-100 custom-bg-dark">

                <div class="card-header border-success text-center shadow">
                    <div class="form-check">
                        <input
                            class="form-check-input border-white bg-secondary"
                            type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </div>

                <div class="card-body shadow text-center">
                    <h5 class="card-title">
                        Username: {{ user.username }}
                    </h5>
                    <p class="card-text">Id: {{ user.id }}</p>
                    <p class="card-text">{{ user.email }}</p>
                    <p class="card-text">
                        <small class="text-white">
                            Role: {{ user.role }}
                        </small>
                    </p>
                </div>
                <div class="card-footer align-self-center">
                    <button class=" btn btn-danger"
                        (click)="deleteUser(user.id)">
                        <span class="text-white">
                            Delete User
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>