<div class="d-flex" style="background-color: #1c1c18;">

  <app-sidebar></app-sidebar>

  <div class='user-nav col' style="margin-left:180px">
    <app-navbar></app-navbar>
    @if(isLoggedIn$){
    <div style="margin-top:60px;">
      <app-content-navbar></app-content-navbar>
    </div>
    }
    <div style="margin-top:40px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="text-center bg-black text-white">
  Luca Chitayat,
  2024
</footer>