<div class="container vh-100" style="margin-top:180px;">
    <div class="row user-card-placement justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card custom-bg-dark shadow border-success">
                <div class="card-body mb-2">
                    <h2 class="card-title text-uppercase text-center">
                        Forgot Password
                    </h2>
                    <hr>

                    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()"
                        autocomplete="off" novalidate>
                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control"
                                [class]="emailForm.get('email')?.touched && emailForm.get('email')?.invalid ? 'is-invalid' : 'is-valid'"
                                id="email" name="email" formControlName="email"
                                required />

                            @if (emailForm.get('email')?.touched &&
                            emailForm.get('email')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Valid Email address is required.
                            </strong>
                            }

                        </div>

                        <button [disabled]="!emailForm.valid"
                            class="btn btn-success w-100 mt-3">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>