<div class="container vh-100" style="margin-top:180px;">
    <div class="row user-card-placement justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card custom-bg-dark shadow border-success">
                <div class="card-body mb-2">
                    <h2 class="card-title text-uppercase text-center">
                        Sign In
                    </h2>
                    <hr>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                        autocomplete="off" novalidate>

                        <div class="form-group mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control"
                                [class]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid ? 'is-invalid' : 'is-valid'"
                                id="email" name="email" formControlName="email"
                                required />

                            @if (loginForm.get('email')?.touched &&
                            loginForm.get('email')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Valid Email address is required.
                            </strong>
                            }

                        </div>

                        <div class="form-group mb-3">
                            <label for="password"
                                class="form-label">Password</label>
                            <input type="password" class="form-control"
                                [class]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid ? 'is-invalid' : 'is-valid'"
                                formControlName="password" name="password"
                                id="password" required>

                            @if (loginForm.get('password')?.touched &&
                            loginForm.get('password')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Password is required.
                            </strong>
                            }

                        </div>

                        <div class="d-flex justify-content-between">
                            <a routerLink="/forgot" routerLinkActive="active"
                                class="link-light">
                                Forgot Password?
                            </a>

                            <a routerLink="/register" routerLinkActive="active"
                                class="link-light">
                                Register
                            </a>
                        </div>

                        <button [disabled]="!loginForm.valid"
                            class="btn btn-success w-100 mt-4">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>