<div class="container vh-100">
    <div class="row user-card-placement justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card custom-bg-dark shadow border-success">
                <div class="card-body mb-2">
                    <h2 class="card-title text-uppercase text-center">
                        Register
                    </h2>
                    <hr>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
                        novalidate>

                        <div class="form-group mb-3">
                            <label for="email" class="form-label">
                                Email
                            </label>
                            <input type="email" class="form-control"
                                [class]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid ? 'is-invalid' : 'is-valid'"
                                id="email" name="email" formControlName="email"
                                required>

                            @if (registerForm.get('email')?.touched &&
                            registerForm.get('email')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Valid Email address is required.
                            </strong>
                            }

                        </div>

                        <div class="form-group mb-3">
                            <label for="username" class="form-label">
                                Username
                            </label>
                            <input type="text" class="form-control"
                                [class]="registerForm.get('username')?.touched && registerForm.get('username')?.invalid ? 'is-invalid' : 'is-valid'"
                                name="username" id="username"
                                formControlName="username" required>

                            @if (registerForm.get('username')?.touched &&
                            registerForm.get('username')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Username must be at least 4 characters.
                            </strong>
                            }

                        </div>

                        <div class="form-group mb-3">
                            <label for="password"
                                class="form-label">Password</label>
                            <input type="password" class="form-control"
                                [class]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid ? 'is-invalid' : 'is-valid'"
                                name="password" id="password"
                                formControlName="password" required>

                            @if (registerForm.get('password')?.touched &&
                            registerForm.get('password')?.invalid){
                            <strong class="px-2 form-error text-danger">
                                *Password must be at least 8 characters.
                            </strong>
                            }

                        </div>
                        <div class="col-6 my-4">
                            <label for="role" class="form-label">
                                User Type:
                            </label>
                            <select type="select" class="form-select col-6"
                                id="role" formControlName="role" name="role">
                                <option *ngFor="let role of roles"
                                    [ngValue]="role" value="supervisor"
                                    selected>
                                    {{role}}</option>

                            </select>
                        </div>

                        <button [disabled]="!registerForm.valid" type="submit"
                            class="btn btn-success w-100 mt-1">
                            Signup
                        </button>

                        <div class="mt-3 d-flex justify-content-center">
                            <span class="text-white">
                                Already have an account?
                                <a routerLink="/login" routerLinkActive="active"
                                    class="link-light">
                                    <strong>
                                        Login here!
                                    </strong>
                                </a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>