// Custom CSS rules
.nav-link.link-light.active {
  color: #298a60 !important;
  background-color: #1c1c18;
  font-weight: bold;
}

.nav-link.link-dark.active {
  font-weight: bold;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

// ...
