<div class="d-flex flex-column flex-shrink-0 h-100 position-fixed"
    style="width: 180px; background-color: #262420;">
    <a class="navbar-brand p-2 pt-4" href="/">
        <img [src]="brandLogo" alt="Logo" height="40">
    </a>

    <hr class="bg-success">
    @if(isLoggedIn$){
    <ul class="nav nav-pills flex-column mb-auto text-white">
        @if(userRole$ === 'Administrator')
        {
        <li>
            <a id="admin-dashboard-link" routerLink="/admin"
                routerLinkActive="active" class="nav-link link-dark bg-warning">
                <small>Admin Dashboard</small>
            </a>
        </li>
        }
        <li>
            <a class="nav-link link-light text-uppercase">
                <small>Event Info</small>
            </a>
        </li>
        <li>
            <a routerLink="/pavilions" routerLinkActive="active"
                class="nav-link link-light text-uppercase">
                <small>Expo Management</small>
            </a>
        </li>
        <li *ngFor="let sidebarItem of sidebarItems">
            @if(sidebarItem.children)
            {
            <a data-bs-toggle="collapse"
                class="nav-link link-light text-uppercase dropdown-toggle">
                <small>{{sidebarItem.title}}</small>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">

                <li *ngFor="let child of sidebarItem.children">
                    <a routerLink="{{child.toLowerCase()}}"
                        routerLinkActive="active"
                        class="nav-link link-light text-uppercase ">
                        <small>{{child}}</small>
                    </a>
                </li>
            </ul>
            }
            @else {
            <a class="nav-link link-light text-uppercase">
                <small>{{sidebarItem.title}}</small>
            </a>
            }
        </li>

    </ul>
    }
    <hr>
</div>