/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

.custom-bg-dark {
  background-color: rgb(69 69 69 / 90%);
  color: #ffffff;
}

.user-card-placement {
  margin-right: 180px;
  margin-top: 120px;
}
